    $fonts: 'Raleway', 'Helvetica Neue', 'Helvetica' sans-serif;
     $mono: 'Source Code Pro', 'Consolas', 'Courier New', monospace;
$dark-grey: #222;
    $white: #fff;
      $red: #ff4e50;
   $orange: #fc913a;
   $yellow: #f9d423;
      $tan: #ede574;
    $cream: #e1f5c4;
