$primary: #9aa7ba;
$white: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #242b30;
  height: 100%;

  &::after {
    background: url('img/overlay.png');
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}

body {
  color: #444;
  font-family: 'Hack', 'Consolas', monospace;
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 300;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home {
  display: table;
  height: 100%;
  width: 100%;
}

  .home__header,
  .home__content {
    display: table-cell;
    height: 100%;
    padding: 0 2em;
    vertical-align: top;
    width: 50%;
  }

.home__header {
  align-items: center;
  border-left: 8px solid $primary;
  color: $primary;
  display: flex;
  height: 100%;
}

  .home__header__title {
    font-size: 5em;
    font-weight: 300;
    line-height: 1;
  }

    .home__header__title--carousel {
      display: inline-block;
      height: 1em;
      line-height: 0;
      overflow: hidden;
      text-align: left;

      p {
        animation: anim-text-carousel 4s cubic-bezier(.75,.01,.45,.98) 0.5s forwards;
        line-height: 1;
        margin-top: 0.15em;
      }
    }

@keyframes anim-text-carousel {
  @for $i from 1 through 9 {
    #{$i * 10}% {
      transform: translateY(-#{$i + ($i * 0.15)}em);
    }
  }
  100% {
    transform: translateY(-10.35em);
    width: 6em;
  }
}

.home__content {
  background: rgba($white, 0.4);
  color: $white;

  h1 {
    margin: 1em 0;

    &::before {
      content: '#';
      display: inline-block;
      margin-right: 1rem;
    }

    &::after {
      content: '# ---------------------------';
      display: block;
    }
  }
}

  .home__content__scroll {
    overflow-y: auto;
  }

.home__footer {
  background: $primary;
  color: $white;

  a {
    color: $white;
  }
}
