*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

::selection {
  background: #ff4e50; }

::-moz-selection {
  background: #ff4e50; }

html,
body {
  background: #303030;
  font: 16px/18px "Raleway", "Helvetica Neue", "Helvetica" sans-serif;
  height: 100%;
  overflow: hidden; }

a {
  color: #fff;
  text-decoration: none; }

h1 {
  line-height: 1.5em;
  font-size: 1.75em;
  font-weight: 300; }

h2 {
  font-size: 1.5em;
  font-weight: 300; }

body > section {
  -webkit-transition: transform 0.3s, opacity 0.3s;
  -moz-transition: transform 0.3s, opacity 0.3s;
  -ms-transition: transform 0.3s, opacity 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  display: block;
  height: 75%;
  left: 50%;
  margin-left: -50%;
  margin-top: 2em;
  overflow: hidden;
  padding: 0 10%;
  position: absolute;
  width: 100%; }

section#about {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  background: #fff;
  opacity: 0;
  z-index: 100; }
  section#about.active_section {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; }

section#projects {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  background: #fff;
  opacity: 0;
  z-index: 100; }
  section#projects.active_section {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    opacity: 1; }

section#home {
  color: #fff; }
  section#home > section {
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    cursor: pointer;
    float: left;
    height: 100%;
    width: 25%; }
    section#home > section .overlay {
      -webkit-transition: width 0.3s, background-color 0.3s;
      -moz-transition: width 0.3s, background-color 0.3s;
      -ms-transition: width 0.3s, background-color 0.3s;
      -o-transition: width 0.3s, background-color 0.3s;
      transition: width 0.3s, background-color 0.3s;
      height: 100%;
      float: left;
      width: 100%; }
    section#home > section.active {
      width: 40%; }
      section#home > section.active aside {
        opacity: 1; }
    section#home > section.inactive {
      width: 20%; }
    section#home > section aside {
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s;
      opacity: 0;
      padding: 1em;
      position: absolute;
      top: 0;
      width: 40%; }
  section#home #spencer .overlay {
    background-color: rgba(223, 47, 51, 0.45);
    left: 0; }
  section#home #spencer:hover .overlay {
    background-color: rgba(223, 47, 51, 0.55); }
  section#home #eugene .overlay {
    background-color: rgba(51, 151, 50, 0.45); }
  section#home #eugene:hover .overlay {
    background-color: rgba(51, 151, 50, 0.55); }
  section#home #jon .overlay {
    background-color: rgba(43, 136, 230, 0.45); }
  section#home #jon:hover .overlay {
    background-color: rgba(43, 136, 230, 0.55); }
  section#home #nick .overlay {
    background-color: rgba(155, 108, 213, 0.45); }
  section#home #nick:hover .overlay {
    background-color: rgba(155, 108, 213, 0.55); }

nav {
  position: fixed;
  bottom: 2em;
  left: 50%;
  margin-left: -12em;
  width: 24em; }
  nav ul li {
    float: left;
    list-style: none;
    text-align: center;
    width: 8em; }
