@import 'constants';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: $red;
}

::-moz-selection {
  background: $red;
}

html,
body {
  background: #303030;
  font: 16px/18px $fonts;
  height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  line-height: 1.5em;
  font-size: 1.75em;
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
  font-weight: 300;
}

#people {
  color: #fff;
  display: block;
  height: 75%;
  width: 80%;
  position: absolute;
  left: 50%;
  margin-top: 2em;
  margin-left: -40%;

  & > section {
    @include transition(width 0.3s);
    cursor: pointer;
    float: left;
    height: 100%;
    width: 25%;

    .overlay {
      @include transition(all 0.3s);
      height: 100%;
      float: left;
      width: 100%;
    }

    &.active {
      width: 40%;

      aside {
        opacity: 1;
      }
    }

    &.inactive {
      width: 20%;
    }

    aside {
      @include transition(all 0.3s);
      opacity: 0;
      padding: 1em;
      position: absolute;
      top: 0;
    }
  }

  #spencer {

    .overlay {
      background-color: rgba(223,47,51,.45);
      left: 0;
    }

    &:hover {
      .overlay {
        // background-color: rgba(51,151,50,.45);
      }
    }
  }

  #eugene {

    .overlay {
      background-color: rgba(51,151,50,.45);
    }
  }

  #jon {

    .overlay {
      background-color: rgba(43,136,230,.45);
    }

    &:hover {
      .overlay {
        // background-color: rgba(51,151,50,.45);
      }
    }
  }

  #nick {

    .overlay {
      background-color: rgba(155,108,213,.45);
    }
  }
}

nav {
  position: fixed;
  bottom: 2em;
  left: 50%;
  margin-left: -12em;
  width: 24em;

  ul {
    li {
      float: left;
      list-style: none;
      text-align: center;
      width: 8em;
    }
  }
}
