*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

::selection {
  background: #ff4e50; }

::-moz-selection {
  background: #ff4e50; }

html,
body {
  background: #303030;
  font: 16px/18px "Raleway", "Helvetica Neue", "Helvetica" sans-serif;
  height: 100%; }

a {
  color: #fff;
  text-decoration: none; }

h1 {
  line-height: 1.5em;
  font-size: 1.75em;
  font-weight: 300; }

h2 {
  font-size: 1.5em;
  font-weight: 300; }

#people {
  color: #fff;
  display: block;
  height: 75%;
  left: 50%;
  margin-left: -40%;
  margin-top: 2em;
  overflow: hidden;
  position: absolute;
  width: 80%; }
  #people > section {
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    cursor: pointer;
    float: left;
    height: 100%;
    width: 25%; }
    #people > section .overlay {
      -webkit-transition: width 0.3s, background-color 0.3s;
      -moz-transition: width 0.3s, background-color 0.3s;
      -ms-transition: width 0.3s, background-color 0.3s;
      -o-transition: width 0.3s, background-color 0.3s;
      transition: width 0.3s, background-color 0.3s;
      height: 100%;
      float: left;
      width: 100%; }
    #people > section.active {
      width: 40%; }
      #people > section.active aside {
        opacity: 1; }
    #people > section.inactive {
      width: 20%; }
    #people > section aside {
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -ms-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s;
      opacity: 0;
      padding: 1em;
      position: absolute;
      top: 0;
      width: 40%; }
  #people #spencer .overlay {
    background-color: rgba(223, 47, 51, 0.45);
    left: 0; }
  #people #spencer:hover .overlay {
    background-color: rgba(223, 47, 51, 0.55); }
  #people #eugene .overlay {
    background-color: rgba(51, 151, 50, 0.45); }
  #people #eugene:hover .overlay {
    background-color: rgba(51, 151, 50, 0.55); }
  #people #jon .overlay {
    background-color: rgba(43, 136, 230, 0.45); }
  #people #jon:hover .overlay {
    background-color: rgba(43, 136, 230, 0.55); }
  #people #nick .overlay {
    background-color: rgba(155, 108, 213, 0.45); }
  #people #nick:hover .overlay {
    background-color: rgba(155, 108, 213, 0.55); }

nav {
  position: fixed;
  bottom: 2em;
  left: 50%;
  margin-left: -12em;
  width: 24em; }
  nav ul li {
    float: left;
    list-style: none;
    text-align: center;
    width: 8em; }
