doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.013/css/hack.min.css")
    link(rel="stylesheet" href="/css/main.css")
    title="Unhaltable Hackers _ University of Toronto"
  body
    != yield
    div#particles
    script(src="/js/particles.min.js")
    script(src="/js/script.js")
