<header class="home__header">
  <h1 class="home__header__title container">
    <span>Unhaltable</span>
    <span class="home__header__title--carousel">
      <p>Makers</p>
      <p>Artists</p>
      <p>Creators</p>
      <p>Doers</p>
      <p>Architects</p>
      <p>Engineers</p>
      <p>Designers</p>
      <p>Inventors</p>
      <p>Leaders</p>
      <p>Hackers</p>
    </span>
  </h1>
</header>

<main class="home__content container">
  <h1>Let's make stuff.</h1>
</main>

<footer class="home__footer container">
  <p><a href="http://utoronto.ca/">University of Toronto</a></p>
</footer>
