<header>
  <h1 class="container">
    <span>Unhaltable</span>
    <span class="title--carousel">
      <p>Makers</p>
      <p>Artists</p>
      <p>Creators</p>
      <p>Doers</p>
      <p>Architects</p>
      <p>Engineers</p>
      <p>Designers</p>
      <p>Inventors</p>
      <p>Leaders</p>
      <p>Hackers</p>
    </span>
  </h1>
</header>

<main class="container">
  <p>Content coming soon?</p>
</main>
