<main class="home">
  <header class="home__header">
    <h1 class="home__header__title">
      <span>Unhaltable</span>
      <span class="home__header__title--carousel">
        <p>Makers</p>
        <p>Artists</p>
        <p>Creators</p>
        <p>Doers</p>
        <p>Architects</p>
        <p>Engineers</p>
        <p>Designers</p>
        <p>Inventors</p>
        <p>Leaders</p>
        <p>Hackers</p>
      </span>
    </h1>
  </header>

  <section class="home__content">
    <div class="home__content__scroll">
      <h2>Who we are</h2>
      <p>Unhaltable Hackers is a community of tinkerers at University of Toronto St. George. We love creating things.</p>
      <p>Get in touch!</p>

      <h2>Events</h2>
      <ul>
        <li>Hack Nights with Ivan Zhang</li>
        <li>Hackathons</li>
        <li>Workshops</li>
      </ul>

      <h2>Past projects</h2>
      <ul>
        <li><a href="http://exemplary.unhaltable.com/">Exemplary</a></li>
        <li><a href="http://txti.unhaltable.com/">Txti</a></li>
        <li><a href="http://ultraviolet.unhaltable.com/">Ultraviolet</a></li>
        <li><a href="http://cryptr.unhaltable.com/">Cryptr</a></li>
      </ul>

      <p>See more in our <a href="https://github.com/unhaltable">GitHub organization</a>.</p>

      <footer class="home__content__footer">
        <p><a href="https://cssu.ca/">Computer Science Student Union</a></p>
        <p><a href="http://utoronto.ca/">University of Toronto</a></p>
      </footer>
    </div>
  </section>
</main>
