<main class="home">
  <header class="home__header">
    <h1 class="home__header__title">
      <span>Unhaltable</span>
      <span class="home__header__title--carousel">
        <p>Makers</p>
        <p>Artists</p>
        <p>Creators</p>
        <p>Doers</p>
        <p>Architects</p>
        <p>Engineers</p>
        <p>Designers</p>
        <p>Inventors</p>
        <p>Leaders</p>
        <p>Hackers</p>
      </span>
    </h1>
  </header>

  <section class="home__content">
    <div class="home__content__scroll">
      <section class="home__content__section">
        <h2>Who we are</h2>

        <p>We're pixel-pushers. Tinkerers. Learners. The engineers of the world.</p>
        <p>Unhaltable Hackers is a club for new and experienced <abbr title="The good kind.">hackers</abbr>
        alike at the University of Toronto.</p>
        <p><a href="mailto:contact@unhaltable.com">Get in touch!</a></p>
      </section>

      <section class="home__content__section">
        <h2>Upcoming events</h2>

        <p>Stay up to date with upcoming workshops, hackathons, socials, and more!</p>
        <ul>
          <li><a href="http://www.uofthacks.com/">UoftHacks III</a></li>
        </ul>
      </section>

      <section class="home__content__section">
        <h2>Past projects</h2>

        <p>Check out some of the things our members have created:</p>
        <ul>
          <li><a href="http://exemplary.unhaltable.com/">Exemplary</a></li>
          <li><a href="http://txti.unhaltable.com/">Txti</a></li>
          <li><a href="http://ultraviolet.unhaltable.com/">Ultraviolet</a></li>
          <li><a href="http://cryptr.unhaltable.com/">Cryptr</a></li>
        </ul>

        <p>See more in our <a href="https://github.com/unhaltable">GitHub organization</a>.</p>
      </section>

      <footer class="home__content__footer">
        <p><a href="mailto:contact@unhaltable.com">Email: contact@unhaltable.com</a></p>
        <p><a href="https://cssu.ca/">Computer Science Student Union</a></p>
        <p><a href="http://utoronto.ca/">University of Toronto</a></p>
      </footer>
    </div>
  </section>
</main>
