<main class="home">
  <header class="home__header">
    <h1 class="home__header__title">
      <span>Unhaltable</span>
      <span class="home__header__title--carousel">
        <p>Makers</p>
        <p>Artists</p>
        <p>Creators</p>
        <p>Doers</p>
        <p>Architects</p>
        <p>Engineers</p>
        <p>Designers</p>
        <p>Inventors</p>
        <p>Leaders</p>
        <p>Hackers</p>
      </span>
    </h1>
  </header>

  <section class="home__content">
    <div class="home__content__scroll">
      <h1>Who we are.</h1>

      <p>Unhaltable Hackers is a community of tinkerers at University of Toronto St. George. We love creating things.</p>

      Events -- Hack Nights?

      Workshops

      Hackathons -- table of upcoming hackathons

      Community

      Resources

      Contact

      <footer class="home__footer container">
        <p><a href="http://utoronto.ca/">University of Toronto</a></p>
      </footer>
    </div>
  </section>
</main>
