* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #f4f4f7 url('img/overlay.png');
}

body {
  font-family: 'Hack', monospace;
  padding: 50px 20px 0;
  color: #444;
  margin: 0;
}

h1 {
  font-size: 5em;
  font-weight: 300;
  line-height: 1;
}

.title--carousel {
  display: inline-block;
  height: 1em;
  line-height: 0;
  overflow: hidden;
  text-align: left;

  p {
    animation: text-carousel 4s 0.5s forwards;
    line-height: 1;
    margin-top: 0.15em;
  }
}

@keyframes text-carousel {
  @for $i from 1 through 9 {
    #{$i * 10}% {
      transform: translateY(-#{$i + ($i * 0.15)}em);
    }
  }
  100% {
    transform: translateY(-10.35em);
  }
}
