$primary: #818d9e;
$white: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #d5d5d5;
  height: 100%;

  &::before,
  &::after {
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }

  &::before {
    background: url('img/bg.jpg') no-repeat center center / cover;
    opacity: 0.5;
  }

  &::after {
    background: url('img/overlay.png');
  }
}

body {
  color: #444;
  font-family: 'Hack', 'Consolas', monospace;
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: 300;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 1em;
}

.home__header {
  align-items: center;
  color: $primary;
  display: flex;
  height: 100%;
}

  .home__header__title {
    font-size: 5em;
    font-weight: 300;
    line-height: 1;
  }

    .home__header__title--carousel {
      display: inline-block;
      height: 1em;
      line-height: 0;
      overflow: hidden;
      text-align: left;

      p {
        animation: anim-text-carousel 4s cubic-bezier(.75,.01,.45,.98) 0.5s forwards;
        line-height: 1;
        margin-top: 0.15em;
      }
    }

@keyframes anim-text-carousel {
  @for $i from 1 through 9 {
    #{$i * 10}% {
      transform: translateY(-#{$i + ($i * 0.15)}em);
    }
  }
  100% {
    transform: translateY(-10.35em);
    width: 6em;
  }
}

.home__content {
  background: $white;
}

.home__footer {
  background: $primary;
  color: $white;

  a {
    color: $white;
  }
}
