* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: $accent;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  background: linear-gradient(235deg, darken($accent, 35%), $dark);

  &::after {
    background: url('../img/overlay.png');
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}

body {
  color: #444;
  font: 400 14px/1.5 'Hack', 'Consolas', monospace;
  overflow: hidden;

  @include mobile {
    overflow: auto;
  }
}

h1,
h2,
h3 {
  font-weight: 300;
}

abbr {
  border-bottom: 1px dashed $accent;
}

a {
  color: $white;
}

p {
  margin: 1em 0;
}

ul {
  list-style: none;
}

  li::before {
    content: '-';
    display: inline-block;
    margin-right: 1rem;
  }
