@import 'variables';
@import 'core';
@import 'error';

#particles {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.home {
  display: table;
  height: 100%;
  width: 100%;
}

  .home__header,
  .home__content {
    display: table-cell;
    height: 100%;
    vertical-align: top;
    width: 50%;

    @include mobile {
      display: block;
      height: auto;
      width: 100%;
    }
  }

.home__header {
  align-items: center;
  border-left: 8px solid $accent;
  color: $white;
  display: flex;
  height: 100%;
  padding: 0 2em;

  @include mobile {
    height: auto;
    padding: 2em;
  }
}

  .home__header__title {
    font-size: 5em;
    font-weight: 300;
    line-height: 1;

    @include mobile {
      font-size: 4em;
    }
  }

    .home__header__title--carousel {
      display: inline-block;
      height: 1em;
      line-height: 0;
      overflow: hidden;
      text-align: left;

      p {
        animation: anim-text-carousel 4s cubic-bezier(.75,.01,.45,.98) 0.5s forwards;
        line-height: 1;
        margin: 0.15em 0 0;
      }
    }

// Move up 1 line with line-height compensation [10 lines]
@keyframes anim-text-carousel {
  @for $i from 1 through 9 {
    #{$i * 10}% {
      transform: translateY(-#{$i + ($i * 0.15)}em);
    }
  }
  100% {
    transform: translateY(-10.35em);
  }
}

.home__content {
  background: rgba(darken($dark, 2.5%), 0.75);
  color: $white;
  position: relative;

  h2 {
    margin: 1em 0;

    &::before,
    &::after {
      color: $accent;
    }

    &::before {
      content: '#';
      display: inline-block;
      margin-right: 1rem;
    }

    &::after {
      content: '# ---------------------------';
      display: block;
    }
  }
}

  .home__content__scroll {
    bottom: 0;
    left: 0;
    overflow-y: auto;
    padding: 2em;
    position: absolute;
    right: 0;
    top: 0;

    @include mobile {
      position: static;
      overflow: auto;
    }
  }

  .home__content__section {
    margin-bottom: 4em;
  }

  .home__content__footer {
    border-top: 1px dashed $accent;
    color: $accent;
    padding-top: 2rem;

    a {
      color: $accent;
    }
  }
